/* Hedaer styling */
/* Search Bar Styling */
form input[type="text"] {
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 200px;
    transition: width 0.3s ease;
}

form input[type="text"]:focus {
    width: 300px;
    border-color: #007bff;
}

form button {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
}

form button:hover {
    background-color: #e0a800;
    color: #fff;
}

/* Nav Links */
.nav-link {
    font-size: 16px;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffc107;
}




/* Footer */
footer {
    font-size: 0.9rem;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 1rem;
}

footer a {
    color: #ffffff;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #f8c471;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer form input {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

footer form input:focus {
    box-shadow: 0 0 5px rgba(255, 193, 7, 0.8);
    border-color: #ffc107;
}
